services:
  server:
    build:
      context: ./backend/
    network_mode: "host"
    environment:
      - GIGA_TOKEN=secret_token
    depends_on:
      - qdrant

  app:
    build:
      context: ./web/
      dockerfile: Dockerfile
    network_mode: "host"
    environment:
      - NODE_ENV=development
    depends_on:
      - server

  qdrant:
    image: qdrant/qdrant:v1.16.2
    network_mode: "host"
    volumes:
      - ./qdrant_data:/qdrant/storage
    restart: unless-stopped