main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.annotation {

}

.links {
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr;*/
  /*gap: 0.5rem 1.5rem;*/
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
}